.Sauce{
    text-align:center;
      margin-top:3px;
      margin-bottom:3px;
      padding:4px;
      box-sizing: border-box;
      background-color: white;
      font-family: sans-serif;
      vertical-align: middle;
  }