.CategoriesContainer{
margin-top:2px;
float:left;
width:50%;
margin:auto;
margin-left:20px;
margin-bottom:10px;
padding-right:10px;
border-right: 1px solid #cacaca;
}

.CartContainer{
height:100%;
float: right;
width:40%;
right:20px;
margin-bottom:10px;
display:inline-table;
}


.OrdersContainer{

  overflow-y:auto;

}



.LinkOrder{
       
    text-align:center;
    text-decoration: none;
    color: #d50525;
    background-color: white;
    border: 1px solid #d50525;
    cursor: pointer;
    padding:10px;
    border-radius: 6px;
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
  
    }

    .LinkContainer{
        display: block; 
        margin-top:10px;
        margin:auto;

      }

      .LinkEmptyCart{

        text-align:center;
        text-decoration: none;
        color: #d50525;
        background-color: white;
        border: 1px solid #d50525;
        cursor: pointer;
        padding:10px;
        border-radius: 6px;
        margin:auto;
        }
        