.Item{
    margin:auto;
    margin-top:3px;
    margin-bottom:3px;
    width: 80%;
    padding:10px;
    box-sizing: border-box;
    list-style:none;
    text-align:center;
    box-shadow: 0 2px 3px #521751;
    background-color: white;
    font-family: sans-serif;
}
