
.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
    top: 10%;
    left: 25%;
    width: 50%;
    transition:all 0.3s ease-out;
}

@media (min-width: 500px) {
    .Modal {
        width: 400px;
        left: calc(50% - 200px);
    }
    .Button{
        width:40%
    }
}