
.Modal {
    position: fixed;
    z-index: 300;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 20%;
    left: 25%;
    width: 80%;
    height:auto;
    max-height:70%;
    overflow-y: auto;
 
}
.ConfirmButton {
bottom:10px;
outline:none;
margin-left:1px;
color: white;
background-color: #266abd;
border: 1px solid white;
cursor: pointer;
text-decoration: none;
padding:10px;
border-radius: 6px;
}


.ConfirmButton:disabled {
   cursor:not-allowed;
   background-color: #ccc;
   border: 1px solid #cacaca;
 }


 

@media (min-width: 500px) {
    .Modal {
        width: 400px;
        left: calc(50% - 200px);
    
    }
    .ConfirmButton{
        width:40%
    }
}