
.Chekout{
width:100%;
height:auto;
}

.Orders{
  width:60%;
  float:left;
  height: 50%;
  margin:auto;
  overflow-y: auto;  
  display:block;
}

.LinkEmptyCart{
text-align:center;
text-decoration: none;
color: #521751;
background-color: white;
border: 1px solid #521751;
cursor: pointer;
padding:10px;
border-radius: 6px;
margin:auto;
}

.LinkOrder{
   
    text-align:center;
    text-decoration: none;
    color: #521751;
    background-color: white;
    border: 1px solid #521751;
    cursor: pointer;
    padding:10px;
    border-radius: 6px;
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
  

    }
    .LinkContainer{
      display: block; 
      margin-top:20px;
      float:right;
  
    }
    .Price{
      font-size:20px;
      font-weight: bold;
    }

    
@media (min-width: 500px) {
  .Orders {
      width: 50%;
     
  }
  .LinkContainer{
  margin:auto;
 width:50%;
 margin-bottom:20px;
  }
  
.Price{
  float:left;
  margin-left:30px;
}

}