
.Chekout{
width:100%;
height:auto;
}

.Orders{

  height: 60%;
  overflow-y: auto;  
}

.LinkEmptyCart{
text-align:center;
text-decoration: none;
color: #521751;
background-color: white;
border: 1px solid #521751;
cursor: pointer;
padding:10px;
border-radius: 6px;
margin:auto;
}

.LinkOrder{
   
    text-align:center;
    text-decoration: none;
    color: #521751;
    background-color: white;
    border: 1px solid #521751;
    cursor: pointer;
    padding:10px;
    border-radius: 6px;
    margin:10px 30px 10px 30px;

    }
    .LinkContainer{
      display: inline-flex; 
      margin-top:20px;
      margin:auto;
    }