.Navbar {
 
list-style: none;
display: inline-block ;
top:0;
width:100%;
box-sizing: border-box;
height:16px;
margin-top:4px;
margin-right:2px;
}



.Link{
outline:none;
float:right;
margin-right:8px;
margin-left:1px;
color: white;
background-color: #266abd;
cursor: pointer;
text-decoration: none;
padding:10px;
border-radius: 4px;
}

.ActiveLink{
color:white;
background-color: #14427d; 
}

.Link:hover{
    background-color: #14509c;  
}