.Navbar {
background-color: #266abd;;
list-style: none;
display: inline-block ;
width:100%;
box-sizing: border-box;
height:36px;
margin-top:0px;
box-shadow: 0 0 5px 0 #cacaca;
height:40px;
padding:0;
}


.Link{
outline:none;
float:right;
color: white;
background-color: #266abd;
cursor: pointer;
text-decoration: none;
padding:10px;
border-radius: 1px;
margin-top:0px;
width:25%;
font-size:90%;
height:20px;
margin-bottom:0px;
}

.ActiveLink{
color:white;
background-color: #14427d; 
}

.Link:hover{
    background-color: #14509c;  
}


.ProfilePictureUser{
cursor: default;
margin: 3px 1px 2px 1px;
width:30px;
height:30px;
border-radius:50%;
vertical-align: middle;
border: 2px solid white;
}

