body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  background-color: #f5f5f5;
  text-align: center;
  width:100%;
  cursor:default;
  height:auto;
}
::selection { background-color:transparent; }




